button
{
    all:unset;
}

div
{
    border: thin black solid;
}

.header
{
    display: flex;
    justify-content: center;
}

.section
{
    display: flex;
    justify-content: space-evenly;
}

.container
{
    display: flex;
    gap: 30px;
    text-align: center;
}

.choice-container
{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.score-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice
{
    background-color: #a881af;
}