*
{
    box-sizing: border-box;
    color: white;
}

body
{
    background-color: #222831;
}

button
{
    all:unset;
}


.header
{
    display: flex;
    justify-content: center;
}

.section
{
    display: flex;
    font-size: 1.5rem;
    justify-content: space-evenly;
}



.choice-container
{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.score-container, .versus-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.choice
{
    background-color: #393e46;
    height: 200px;
    width: 200px;
    padding: 2rem;
    font-size: 5rem;
    text-align: center;
}

.choice:hover
{
    background-color: #545c68;
}

.selected
{
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}